In [5]:
#from __future__ import division
#import sys
#!{sys.executable} -m pip install YahooFinance

In [1]:
from yahoofinancials import YahooFinancials
import pandas as pd

In [3]:
df = pd.read_excel("http://www.chinaamc.com.hk/Uploads/Excel/CSI300/CSI300-v-product-holding-details-EN.xls", skiprows=5, skipfooter=5)

In [4]:
df.head()

,Unnamed: 0,Name,Ticker,ISIN,Number of Shares,Weigthing(%),Price (CNY)
0,1,PING AN INSURANCE GROUP CO,601318 CH Equity,CNE000001R84,"12,414,299",7.73,89.45
1,2,KWEICHOW MOUTAI CO LTD,600519 CH Equity,CNE0000018R8,"577,501",3.93,976.41
2,3,CHINA MERCHANTS BANK,600036 CH Equity,CNE000001B33,"11,797,403",3.03,36.83
3,4,INDUSTRIAL BANK CO LTD,601166 CH Equity,CNE000001QZ7,"16,639,922",2.22,19.19
4,5,GREE ELECTRIC APPLIANCES I,000651 CH Equity,CNE0000001D4,"5,512,434",2.10,54.62

In [37]:
df.iloc[0]["Weight(%)]

10.7839

In [35]:
df["Ticker"] = df["Ticker"].apply(lambda x:(str(x).replace("-HK","")))

In [36]:
df.head()

  Ticker                         Name                  Sector  Weight(%)
0   1299               AIA Group Ltd.              Financials   10.68720
1   0700    Tencent Holdings (P Chip)  Information Technology   10.51230
2   0005                HSBC Holdings              Financials    9.60921
3   0939  China Construction Bank (H)              Financials    7.15834
4   2318        Ping An Insurance (H)              Financials    5.67781

In [12]:
def check_ticker_pe(ticker):
    yahoo_financials = YahooFinancials(ticker.zfill(6) + ".SS")
    #return yahoo_financials.get_current_price()/yahoo_financials.get_earnings_per_share()
    return yahoo_financials.get_earnings_per_share()

In [13]:
check_ticker_pe("600519")

In [41]:
def calc_eps(x):
    return 1/x * 100

In [37]:
df["PE"] = df["Ticker"].apply(check_price)

In [46]:
df["EPS"] = df["PE"].apply(calc_eps)
df["Allocation"] = df["Weight(%)"] * df["EPS"] / 100

In [47]:
df.head()

,Ticker,Name,Sector,Weight(%),PE,EPS,Allocation
0,1299,AIA Group Ltd.,Financials,10.68720,39.841130,2.509969,0.268245
1,0700,Tencent Holdings (P Chip),Information Technology,10.51230,39.509575,2.531032,0.266070
2,0005,HSBC Holdings,Financials,9.60921,12.947227,7.723662,0.742183
3,0939,China Construction Bank (H),Financials,7.15834,5.383805,18.574224,1.329606
4,2318,Ping An Insurance (H),Financials,5.67781,14.005659,7.139971,0.405394

In [49]:
df["Allocation"].sum()

8.682058399358805