In [15]:
#from __future__ import division
import pandas as pd
import re
import numpy as np
import datetime

In [16]:
import urllib
import urllib.request

In [17]:
from bs4 import BeautifulSoup

In [18]:
from sqlalchemy import create_engine

def download_csv(url, file):
    urllib.request.urlretrieve(url, file)

def read_stock_csv(surl):
    df = pd.read_csv(surl, parse_dates=True)
    df['Avg Price'] = ((df['High'] + df['Low']) / 2).round(4)
    return df

def read_div_csv(durl):
    #durl = 'http://www.aastocks.com/en/stocks/analysis/dividend.aspx?symbol=00388'
    page = urllib.request.urlopen(durl)
    soup = BeautifulSoup(page, 'lxml')

    # web scraping
    data = []
    table = soup.find('table', attrs={'class':'cnhk-cf tblM s4 s5'})
    rows = table.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])

    # convert to dataframe
    df = pd.DataFrame(data[1:], columns=data[0])
    
    return df

# extract the dividend amount from text field
def ext_div(text):
    loc = str(text).find('HKD')
    if loc != -1:
        return float(text[loc+4:loc+4+6])
    else:
        loc = str(text).find('CAD')
        if loc != -1:
            return float(text[loc+4:loc+4+6])*6.18
        else:
            loc = str(text).find('RMB')
            if loc != -1:
                return float(text[loc+4:loc+4+6])*1.19
            else:
                loc = str(text).find('USD')
                if loc != -1:
                    return float(text[loc+4:loc+4+6])*7.8
                else:
                    return text

def months_between(start, end):
    start_year = int(start[:start.find('-')])
    start_month = int(start[start.find('-')+1:])
    end_year = int(end[:end.find('-')])
    end_month = int(end[end.find('-')+1:])
    
    year_diff = end_year - start_year
    month_diff = end_month - start_month
    
    diff = []
    
    if year_diff <= 0:
        for j in range(start_month, end_month + 1):
            diff.append(str(start_year).rjust(2, '0') + '-' + str(j).rjust(2, '0'))
    else:
        for i in range(start_year, end_year + 1):
            if (i == start_year ):
                for j in range(start_month, 12 + 1):
                    diff.append(str(i).rjust(2, '0') + '-' + str(j).rjust(2, '0'))
            elif (i == end_year):
                for j in range(1, end_month + 1):
                    diff.append(str(i).rjust(2, '0') + '-' + str(j).rjust(2, '0'))
            else:
                for j in range(1, 12 + 1):
                    diff.append(str(i).rjust(2, '0') + '-' + str(j).rjust(2, '0'))                    
      
    return diff

def buy_shares(results, contrib, fee):
    shares = []
    total_shares = 0
    total_contrib = 0
    f = 0
    s = 0
    
    for r in results:
        s = int((contrib - fee)/r[1])
        shares.append([r[0], s])
        total_shares += s
        total_contrib += round(s * r[1], 4)
        f += fee
        
    shares = pd.DataFrame(shares, columns=['Date', 'No of shares'])
    
    return shares, total_shares, total_contrib, f

def cal_dividend(shares, ddf):
    ddf['Particular'] = ddf['Particular'].apply(ext_div)
    ddf['Ex-Date'] = ddf['Ex-Date'].str.replace('/', '-')
    temp = ddf[ddf['Type'].str.contains('Cash')]
        
    earliest = shares['Date'].min()
    latest = shares['Date'].max()
    temp = temp[(temp['Ex-Date'] <= latest) & (temp['Ex-Date'] >= earliest)]

    dividend = 0
    accumulated_shares = 0
    
    for row in temp.itertuples():   
        s = shares[(row[6] >= shares['Date']) & (row[6] >= earliest)].sum().iloc[1]
        dividend += row[4] * s
        
    return dividend

def cal_profit(total_shares, total_contrib, current_price, dividend=0):
    profit = (current_price * total_shares + dividend - total_contrib) / total_contrib
    
    return profit

def eval_stock(surl, durl, contrib, fee, start, end, day=10):
    # contrib: monthly contribution amount
    # fee
    # current_price
    # start: a string indicate the start year and month
    # end: a string indicate the end year and month
    # day: day to execution    
    
    results = []
    today = datetime.datetime.now().timetuple()
    
    #durl = 'http://www.aastocks.com/en/stocks/analysis/dividend.aspx?symbol='+str(stock_id).rjust(5, '0')
    #surl = 'http://real-chart.finance.yahoo.com/table.csv?s='+stock_id+'.HK'+'&a=05&b=16&c=2000&d=03&e='+str(today[2])+'&f=2016&g=d&ignore=.csv
    
    months = months_between(start, end)
    
    df = read_stock_csv(surl)
    ddf = read_div_csv(durl)
    
    # current price is the latest average price
    current_price = df[df['Date'] ==np.max(df['Date'])].iloc[0]['Avg Price']
    
    for m in months:
        for d in range(day, day + 5):
            temp = df[df['Date'].str.contains(m + '-' + str(d).rjust(2, '0'))]
            if len(temp) > 0:
                results.append([m + '-' + str(d).rjust(2, '0'), temp.iloc[0]['Avg Price']])
                break
                
    shares, total_shares, total_contrib, total_fee = buy_shares(results, contrib, fee)
    dividend = cal_dividend(shares, ddf)
    
    profit = cal_profit(total_shares, total_contrib, current_price, dividend)
                    
    return profit

stocks = ['0002','0066', '0388', '0700']

In [19]:
engine = create_engine('mysql+pymysql://root:61Tf7Rlp7Y@localhost/stock')

In [20]:
sql = 'select stock_id as id, sum(quantity) as quantity, (sum(amount)+sum(fee))/sum(quantity) as average,\
        sum(amount) as amount, sum(fee) as fee, sum(amount)+sum(fee) as total\
        from transactions where type_id = 1 group by stock_id'

In [21]:
pd.read_sql(sql, engine)

    id  quantity     average    amount    fee     total
0    2     290.0   79.818621  22847.40  300.0  23147.40
1  388     102.0  211.641176  21287.40  300.0  21587.40
2   66     546.0   43.147161  23258.35  300.0  23558.35
3  700      93.0  266.622581  24495.90  300.0  24795.90

In [35]:
sql = 'select stock_id as id, sum(quantity) as quantity, sum(amount) as amount\
       from transactions where type_id = 3 group by stock_id'

In [36]:
pd.read_sql(sql, engine)

    id  quantity  amount
0    2       0.0  305.41
1  388       0.0  304.98
2   66       7.0  809.81
3  700       0.0   37.59

In [25]:
#today = datetime.datetime.now().timetuple()

# download csv files
#for s in stocks:
#    surl = 'http://real-chart.finance.yahoo.com/table.csv?s='+s+'.HK'+'&a=05&b=16&c=2000&d=03&e='+str(today[2])+'&f=2016&g=d&ignore=.csv'
#    download_csv(surl, s+'.csv')
#http://real-chart.finance.yahoo.com/table.csv?s=2800.HK&a=11&b=31&c=2000&d=03&e=26&f=2016&g=v&ignore=.csv

results = []
for s in stocks:
    surl = s+'.csv'
    durl = 'http://www.aastocks.com/en/stocks/analysis/dividend.aspx?symbol='+str(s).rjust(5, '0')
    results.append([s, eval_stock(surl, durl, 500, 50, '2014-01', '2016-04')])
    #results = eval_stock(surl, durl, 2000, 50, '2015-01', '2016-04')

results = pd.DataFrame(results, columns=['stock', 'profit'])

results.sort(columns='profit', ascending=False)