In [5]:
#from __future__ import division
#import sys
#!{sys.executable} -m pip install YahooFinance

In [1]:
from yahoofinancials import YahooFinancials
import pandas as pd

In [19]:
df = pd.read_csv("https://www.trahk.com.hk/eng/Fund/DownloadDailyHoldingFiles", skiprows=4, skipfooter=4, skipinitialspace=True, engine='python')

In [20]:
df.head()

    Ticker                         Name                  Sector  Weight(%)
0  1299-HK               AIA Group Ltd.              Financials   10.68720
1   700-HK    Tencent Holdings (P Chip)  Information Technology   10.51230
2     5-HK                HSBC Holdings              Financials    9.60921
3   939-HK  China Construction Bank (H)              Financials    7.15834
4  2318-HK        Ping An Insurance (H)              Financials    5.67781

In [37]:
df.iloc[0]["Weight(%)]

10.7839

In [35]:
df["Ticker"] = df["Ticker"].apply(lambda x:(str(x).replace("-HK","")))

In [36]:
df.head()

  Ticker                         Name                  Sector  Weight(%)
0   1299               AIA Group Ltd.              Financials   10.68720
1   0700    Tencent Holdings (P Chip)  Information Technology   10.51230
2   0005                HSBC Holdings              Financials    9.60921
3   0939  China Construction Bank (H)              Financials    7.15834
4   2318        Ping An Insurance (H)              Financials    5.67781

In [32]:
def check_ticker_pe(ticker):
    yahoo_financials = YahooFinancials(ticker.zfill(4) + ".HK")
    return yahoo_financials.get_pe_ratio()

In [41]:
def calc_eps(x):
    return 1/x * 100

In [37]:
df["PE"] = df["Ticker"].apply(check_price)

In [46]:
df["EPS"] = df["PE"].apply(calc_eps)
df["Allocation"] = df["Weight(%)"] * df["EPS"] / 100

In [47]:
df.head()

,Ticker,Name,Sector,Weight(%),PE,EPS,Allocation
0,1299,AIA Group Ltd.,Financials,10.68720,39.841130,2.509969,0.268245
1,0700,Tencent Holdings (P Chip),Information Technology,10.51230,39.509575,2.531032,0.266070
2,0005,HSBC Holdings,Financials,9.60921,12.947227,7.723662,0.742183
3,0939,China Construction Bank (H),Financials,7.15834,5.383805,18.574224,1.329606
4,2318,Ping An Insurance (H),Financials,5.67781,14.005659,7.139971,0.405394

In [49]:
df["Allocation"].sum()

8.682058399358805