In [1]:
#from __future__ import division
#import sys
#!{sys.executable} -m pip install YahooFinance

In [2]:
from yahoofinancials import YahooFinancials
import pandas as pd

In [3]:
df = pd.read_csv("https://www.trahk.com.hk/eng/Fund/DownloadDailyHoldingFiles", skiprows=4, skipfooter=4, skipinitialspace=True, engine='python')

In [4]:
df.head()

    Ticker                         Name                  Sector  Weight(%)
0   700-HK    Tencent Holdings (P Chip)  Information Technology   10.82380
1  1299-HK               AIA Group Ltd.              Financials   10.42140
2     5-HK                HSBC Holdings              Financials    9.71439
3   939-HK  China Construction Bank (H)              Financials    7.18409
4  2318-HK        Ping An Insurance (H)              Financials    5.72330

In [6]:
#df.iloc[0]["Weight(%)]

In [7]:
df["Ticker"] = df["Ticker"].apply(lambda x:(str(x).replace("-HK","")))

In [8]:
df.head()

  Ticker                         Name                  Sector  Weight(%)
0    700    Tencent Holdings (P Chip)  Information Technology   10.82380
1   1299               AIA Group Ltd.              Financials   10.42140
2      5                HSBC Holdings              Financials    9.71439
3    939  China Construction Bank (H)              Financials    7.18409
4   2318        Ping An Insurance (H)              Financials    5.72330

In [9]:
def check_ticker_pe(ticker):
    yahoo_financials = YahooFinancials(ticker.zfill(4) + ".HK")
    return yahoo_financials.get_pe_ratio()

In [10]:
def calc_eps(x):
    return 1/x * 100

In [13]:
df["PE"] = df["Ticker"].apply(check_ticker_pe)

In [14]:
df["EPS"] = df["PE"].apply(calc_eps)
df["Allocation"] = df["Weight(%)"] * df["EPS"] / 100

In [15]:
df.head()

,Ticker,Name,Sector,Weight(%),PE,EPS,Allocation
0,700,Tencent Holdings (P Chip),Information Technology,10.82380,35.885230,2.786662,0.301623
1,1299,AIA Group Ltd.,Financials,10.42140,37.116318,2.694233,0.280777
2,5,HSBC Holdings,Financials,9.71439,12.359637,8.090853,0.785977
3,939,China Construction Bank (H),Financials,7.18409,5.076410,19.698960,1.415191
4,2318,Ping An Insurance (H),Financials,5.72330,12.984413,7.701542,0.440782

In [16]:
df["Allocation"].sum()

9.18489786248125